#main{
    background-color: transparent;
    overflow: hidden;
}

table,td,th {

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    text-align: left;
    border: 1px solid rgb(255, 255, 255);
} 

th {    
    background-color: teal;
    color: rgb(255, 255, 255);
}

tr:nth-child(even){
    background-color:rgba(0, 128, 128, 0.103);
}

#del, #edit{
    width: 70px;
}

.minus, .pen{
    border: none;
    background-color: transparent;
}

.minus i, .pen i{
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.searching{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 5px;
}

.searchbar{
    margin-left: 10px;
}

.searching input{
    border-radius: 5px;
    border: transparent;
    background-color: #eeeeee;
}

.searching input:focus{
    outline: none !important;
}

.searching .btn{
    padding-left: 20px;
    text-align: right;
}

.searching .button{
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    background-color: teal;
    width: 100px;
    height: 30px;
    border: none;
    font-family: sans-serif;
    font-size: 12pt;
    cursor: pointer;
}



@media (min-width: 800px) {

    #results{
        margin-bottom: 30px;
    }

    table{
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: auto;
        padding: 0;
        width: 80%;
    }

    main{
        margin-top: 75px;  
    }

    .item1{
        text-align: right;
        margin-bottom: 30px;
    }

    .item1 a{
        padding-right: 50px;
        text-decoration: none;
    }

    .item1 span{
        font-weight: 500;
        font-size: 15pt;
        color: teal;
        font-family:sans-serif;
    }

    .activelink span{
        font-weight: 550;
    }

    .item2 { grid-area: left; }
    .item3 { grid-area: right; }

    .container {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 50px;
            display: grid;
            grid-template-areas:
            'left right';
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            height: max-content;
            background-color: #eeeeee;
    }

    .containerN {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 50px;
        display: grid;
        grid-template-areas:
        'left right';
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        height: max-content;
        background-color: #eeeeee;
        margin-left: 244px;
    }

    .item2{
        background-color: white;
        padding-top: 20px;
        
    }

    .item3{
        background-color: white;
        padding-top: 20px;
    }
    
    .popup {
        display: none;
        position: fixed;
        top: 40%;
        left: 40%;
        border: 3px solid #f1f1f1;
        z-index: 9;
        background-color: #C2D3E2;;
    }

    .data-form{
        width: max-content;
        margin: auto;
    }

    .form-popup{
        width: max-content;
        margin: 20px;
    }

    .item3 label{
        text-align: left;
        width: 170px;
        display: inline-block;
    }

    .item3 input{
        width: 210px;
        height: 30px; 
        border: 1px solid #a8a8a8;
        background-color: #eeeeee96;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .item3 .btn{
        text-align: right;
    }

    .item3 .button{
        margin-top: 30px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: teal;
        width: 120px;
        height: 35px;
        border: none;
        font-family: sans-serif;
        font-size: 12pt;
        cursor: pointer;
    }

    .popup label{
        text-align: left;
        width: 170px;
        display: inline-block;
    }

    .popup input{
        width: 210px;
        height: 30px; 
        border: 1px solid #a8a8a8;
        background-color: #eeeeee96;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .popup .btn{
        display: flex;
        justify-content: space-evenly;
    }

    .popup .button{
        margin-top: 30px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: teal;
        width: 120px;
        height: 35px;
        border: none;
        font-family: sans-serif;
        font-size: 12pt;
        cursor: pointer;
    }
    
}

@media (max-width: 799px) {

    table{
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: auto;
        padding: 0;
        width: 100%;
    }

    main{
        margin-top: 75px;  
    }

    .item2 { grid-area: left; }
    .item3 { grid-area: right; }

    .container {
        display: grid;
        grid-template-areas:
        'right'
        'left';
        grid-gap: 10px;
        width:100vw;
        justify-content: center;
    }

    .item1{
        justify-content: space-evenly;
        margin-bottom: 30px;
        display: flex;
    }

    .item1 a{
        text-decoration: none;
    }

    .item1 span{
        font-weight: 400;
        font-size: 11pt;
        color: teal;
        font-family:sans-serif;
    }

    .activelink span{
        font-weight: 550;
    }

    .item2{
        width: 100%;
        margin-bottom: 50px;
    }

    .item3{
        width: 100%;
        text-align: center;
    }
    
    .popup {
        display: none;
        position: fixed;
        top: 20%;
        left: 2%;
        right: 2%;
        border: 3px solid #f1f1f1;
        z-index: 9;
        background-color: white;
        
    }

    .data-form{
        padding-left: 7px;
        padding-right: 7px;
        justify-content: space-evenly;
    }

    .form-popup{
        width: fit-content;
        justify-content: space-evenly;
        margin: 5px;
    }

    .item3 label{
        text-align: left;
        width: 170px;
        display: inline-block;
    }

    .item3 input{
        border-radius: 5px;
        border: 1px solid #a8a8a8;
        background-color: #eeeeee96;
        width: 210px;
        height: 30px;  
        margin-bottom: 20px;

    }

    .item3 .btn{
        text-align: right;
    }

    .item3 .button{
        margin-top: 20px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: teal;
        width: 120px;
        height: 35px;
        border: none;
        font-family: sans-serif;
        font-size: 12pt;
        cursor: pointer;
    }

    .popup label{
        text-align: left;
        width: 170px;
        display: inline-block;
    }

    .popup input{
        border-radius: 5px;
        border: 1px solid #a8a8a8;
        background-color: #eeeeee96;
        width: 210px;
        height: 30px;  
        margin-bottom: 20px;
    }

    .popup .btn{
        text-align: right;
    }

    .popup .button{
        margin-top: 30px;
        margin-right: 10px;
        border-radius: 5px;
        padding: 5px;
        color: #ffffff;
        background-color: teal;
        width: 120px;
        height: 35px;
        border: none;
        font-family: sans-serif;
        font-size: 12pt;
        cursor: pointer;
    }
}

