@media (min-width: 800px) {

    .item4 { grid-area: four; }
    .item5 { grid-area: five; }
    .item6 { grid-area: six; }
    .item7 { grid-area: seven; }
    .item8 { grid-area: eight; }
    .item9 { grid-area: nine; }
        
    .container {
        padding: 30px;
        display: grid;
        grid-template-areas:
        'four four four five five five six six six seven seven seven '
        'eight eight eight eight eight eight nine nine nine nine nine nine'
        'eight eight eight eight eight eight nine nine nine nine nine nine';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px 25px;
        background-color: #ffffff;
        height: 80vh;
    }

    .containerN {
        padding: 30px;
        display: grid;
        grid-template-areas:
        ' four four four five five five six six six seven seven seven '
        'eight eight eight eight eight eight nine nine nine nine nine nine'
        'eight eight eight eight eight eight nine nine nine nine nine nine';
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px 25px;
        background-color: #ffffff;
        margin-left: 244px;
        height: 80vh;
    }

    .container >div{
        text-align: center;
        font-size: 18px;
        box-shadow: 0 0 5px #d3d2d2;
        font-weight: 500;
        line-height: 1.6;
    }

    .item4, .item5, .item6, .item7{
        border-left-style: solid;
        border-left-color: #2B65EC;
        color: #525C65;
        border-left-width: 3px;
        margin-top: 20px;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 20px;
        transition: 0.9s;
    }

    .item4 span, .item5 span, .item6 span, .item7 span{
        margin-top: 10px;
        color: #2B65EC;
        font-size: 28px;
        font-weight: 600px;
    }

    .item4:hover, .item5:hover, .item6:hover, .item7:hover{
        transform: scale(1.05);
        z-index: 2;
    }


    .item8, .item9 {
        border-left-style: solid;
        border-left-color: #2B65EC;
        color: #525C65;
        border-left-width: 3px;
        border-radius: 10px;
        padding: 20px;
        height: 420px;
        transition: 0.9s;
    }

    .item8:hover, .item9:hover{
        transform: scale(1.03);
        z-index: 5;
    }

    .open-img{
        width: fit-content;
    }

    .notification {
        position: absolute;
        right: 25%;
        padding-top: 15px;
    }
    
    .notification i{
        color: #ffffff;
    }
    
    .user-login{
        position: absolute;
        right: 16%;
        padding-top: 15px;
        display: flex;
        color:#ffffff;
    }
    
    .img-rounded-circle{
        position: absolute;
        right: 5%;
        border-radius: 50%;
        width:50px;
        height: 50px;
    }

}

@media (max-width: 799px) {
 
    .item4 { grid-area: four; }
    .item5 { grid-area: five; }
    .item6 { grid-area: six; }
    .item7 { grid-area: seven; }
    .item8 { grid-area: eight; }
    .item9 { grid-area: nine; }
    
    .container {
        padding: 30px; 
        display: grid;
        grid-template-areas:
        'four'
        'five'
        'six'
        'seven'
        'eight'
        'nine';
        background-color: #ffffff;
        grid-gap:10px;
        justify-content: center;
        justify-content: space-evenly;
    }

    .container >div{
        text-align: center;
        font-size: 16px;
        box-shadow: 0 0 5px #d3d2d2;
        padding: 10px;
        font-weight: 400;
        padding: 30px 0;
    }

    .item4{
        margin-top: 60px;
    }

    .item5, .item6, .item7, .item8, .item9{
        margin-top: 20px;
    }

    .item9{
        margin-bottom: 60px;
    }
    
    .item4, .item5, .item6, .item7, .item8, .item9{
        
        border-left-style: solid;
        border-left-color: #2B65EC;
        color: #525C65;
        border-left-width: 3px;
    }
    
    .open-img{
        visibility: hidden;
    }

    .date{
        visibility: hidden;
    }

    .notification {
        position: absolute;
        right: 70%;
        padding-top: 15px;
    }
    
    .notification i{
        color: #ffffff;
    }
    
    .user-login{
        position: absolute;
        right: 40%;
        padding-top: 15px;
        display: flex;
        visibility: hidden;
    }
    
    .img-rounded-circle{
        position: absolute;
        right: 5%;
        border-radius: 50%;
        width:50px;
        height: 50px;
    }
    
}
    
