.pagename{
    font-family: Roboto Condensed;
    font-style: normal;
    font-size: 20px;
    color: #050505;
}

#search{
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 35px;
    width: 200px;
    padding-left: 10px;
}

.addemp{
    border: 1px solid #ccc;
    border-radius: 12px;
    height: 35px;
    width: 120px;
    background-color: #33628C;
    color: white;
}

#results{
    overflow-x:auto;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table,td,th {

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    border: 1px solid rgb(255, 255, 255);
    table-layout: fixed;
} 

th {    
    background-color: #000000;
    color: rgb(255, 255, 255);
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.minus, .pen{
    border: none;
}

.minus i, .pen i{
    color: #000000;
    border-radius: 5px;
    
}

@media (min-width: 800px) {

    
    .item1 { grid-area: one; }
    .item2 { grid-area: two; }
        
    .container {
        padding: 10px;
        display: grid;
        grid-template-areas:
        'one'
        'two';
        grid-template-columns: 1fr;
        grid-gap: 10px;
        background-color: #eeeeee;
    }

    .containerN {
        padding: 10px;
        display: grid;
        grid-template-areas:
        'one'
        'two';
        grid-template-columns: 1fr;
        grid-gap: 10px;
        background-color: #eeeeee;
        margin-left: 244px;
    }

    .container >div{
        background: rgba(255, 255, 255, 0.88);
        text-align: center;
        font-size: 18px;
        padding: 20px;
        font-weight: 500;
    }

    .item1{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .item2{
        margin-bottom: 50px;
    }

}

@media (max-width: 799px) {
 
      
    .item1 { grid-area: one; }
    .item2 { grid-area: two; }
        
    .container {
        padding: 10px;
        display: grid;
        grid-template-areas:
        'one'
        'two';
        grid-template-columns: 1fr;
        grid-gap: 10px;
        background-color: #eeeeee;
    }

    .containerN {
        padding: 10px;
        display: grid;
        grid-template-areas:
        'one'
        'two';
        grid-template-columns: 1fr;
        grid-gap: 10px;
        background-color: #eeeeee;
    }

    .container >div{
        background: rgba(255, 255, 255, 0.88);
        text-align: center;
        font-size: 18px;
        padding: 20px;
        font-weight: 500;
    }

    .item1{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    .item1 .pagename{
        margin-left: 10px;
    }

    .item2{
        margin-bottom: 50px;
    }

    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
    thead{
        visibility: hidden;
    }

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Secret Alias"; }
	

}  

@media (max-width: 426px) {
 
    .item1{
        margin-top: 70px;
        display:grid;
        grid-gap:10px;
        float: left;
    }

    
}


