

/*background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(1px);*/

    nav {
      position: fixed;
      z-index: 10;
      left : 245px;
      /*width: 100%;*/
      right: 0;
      top: 50px;
      font-family: 'Montserrat', sans-serif;
      padding: 10 5%;
      padding-top: 20px;
      height: 40px;
      background-color: #ffffff;
      /* visibility: hidden; */
  }
  
  nav .links {
      float: right;
      padding: 0;
      margin: 0;
      width: 600px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  nav .links li {
      list-style: none;
  }
  nav .links a {
      display: block;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 20px;
      color: #2B65EC;
      text-decoration: none;
  }
  
  nav .links a:hover{
    /*color: rgb(0, 255, 106);*/
    border-bottom: 3px solid #7cb3f1;
  }

  #nav-toggle {
      position: absolute;
      top: -100px;
  }
  nav .icon-burger {
      display: none;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 5px;
  }
  nav .icon-burger .line {
      width: 30px;
      height: 5px;
      background-color: #265397;
      margin: 5px;
      border-radius: 3px;
      transition: all .3s ease-in-out;
      
  }

  .activelink{
    font-weight: 550;
}

    
    /*background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(1px);*/

    .flex-container {
        display: flex;
        margin-top: 70px;
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: wrap;
        background-color: #ffffff;
        
        
      }

      .flex-container1 .text{
        color: #5a5858;
        font-size: 25px;
        font-weight: 400;

      }
     
      
      .table{
        margin-top: 40px;
        width: 100%;
        border-collapse: collapse;
        font-weight: normal;
    }
    
    .table td,.table th{
      padding:12px 15px;
      border:1px solid rgb(253, 253, 253);
      text-align: center;	
      font-size:16px;
    }
    
    .table th{
        background-color: #9ac3f8;
        color:#5a5858;
        font-weight: normal;
    }
    
    .table tbody tr:nth-child(even){
        background-color: #f5f5f5;
    }


    /*background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(1px);*/



    .modal {
        margin-top: 70px;
        display: none;
        position: fixed;
        z-index: 8;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }
      .modal-content {
        margin: 50px auto;
        border: 1px solid #999;
        width: 60%;
      }
      h3{
        text-align: left;
        margin: 0 0 20px;
        /* font-weight: 100; */
        font-size: 30px;
        color: rgb(0, 0, 0);
      } 
      /* span {
        text-align: left;
        font-size: 20px;
        color: #666;
        display: block;
        padding: 0 0 5px;
      } */
      .message{
        text-align: left;
        font-size: 20px;
        color: #666;
        display: block;
        padding: 0 0 5px;
      }
      form {
        padding: 25px;
        margin: 25px;
        box-shadow: 0 2px 5px #f5f5f5;
        background: #eee;
      }
      input,
      textarea {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #1c87c9;
        outline: none;
      }
      .contact-form button {
        width: 100%;
        padding: 10px;
        border: none;
        background: #1c87c9;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
      }
      button:hover {
        background: #2371a0;
      }
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      button.button {
        /* background-color: #666; */
        background: none;
        /* border-top: none; */
        outline: none;
        /* border-right: none; */
        /* border-left: none; */
        /* border-bottom: #02274a 1px solid; */
        padding: 0 0 3px 0;
        font-size: 16px;
        cursor: pointer;
        border: none;
      }
      button.button:hover {
        /* border-bottom: #a99567 1px solid; */
        color: #a99567;
      }
      button.button i {
        color: #666;
      }

      
    /*background: rgba(87, 87, 87, 0.5);
    backdrop-filter: blur(1px);*/
    .modal-content1{
        margin: 50px auto;
        border: 1px solid #999;
        color: #9da9c2;
        background-color: #e2eee0;
        width: 60%;
        font-weight: 100;
      }
    
    



@media (min-width: 800px) {
        
    .container {
        padding: 20px;
        
        
        height: 82vh;
    }

    /* .containerN {
        padding: 30px;
        
        
        height: 82vh;
        margin-left: 244px;
    } */

    .container >div{
        
        text-align: center;
        font-size: 28px;
        
        padding: 40px;
        /*color: #245bd1;*/
        
        font-weight: 600;
    }
    
   
    .open-img{
        width: 194px;
    }

}

@media (max-width: 799px) {


    .text{
        font-weight: bold;
        margin-top: 80px;
    }
    
    .open-img{
        visibility: hidden;
    }


    .date{
        visibility: hidden;
    }

    
}
    
@media (max-width: 567px) {

  
    nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 60%;
		right: 0;
		top: 80px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(121, 121, 121, 0.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
        background-color: rgb(255, 255, 255);
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
        background-color: #265397;
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
        background-color: #265397;
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}



    .table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
    .table{
        margin-left: -23px;
    }

}


@media (max-width: 400px) {

    .table, .table tbody, .table tr, .table td{
		display: block;
		width: 88%;
	}
}




