*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}
.container:after {
  
    display: table;
    clear: both;
  }
.left {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
    background-color: #ffffff;
  }
  
.right{
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
    background-color: #ffffff;
  }
  .form{
    text-align: center;
    
}
.form h1{
    color: #b5720d;
    margin-bottom: 70px;
    margin-top: 50px;
    font-weight: 500;
    font-size: 30pt;
    text-align:center;
    
}

span{
    color: #265397;
}
.box{
    margin-top: -40px;
}
.verifi{
    color:#000;
    font-size: 15pt;
    margin-left: -160px;
    margin-top: 100px;
}
.new_pass{
    color:#000;
    font-size: 15pt;
    margin-left: -180px;
    margin-top: 100px;
}
.confirm_pass{
    color:#000;
    font-size: 15pt;
    margin-left: -105px;
    margin-top: 100px;
}
.input[type="password"]{
    width: 300px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(225, 229, 231);
    padding-left: 10px;
    font-size:12pt;
    /*border: 1px solid #050e91;*/
}
.input[type="text"]{
    width: 300px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(225, 229, 231);
    padding-left: 10px;
    font-size:12pt;
    /*border: 1px solid #050e91;*/
}

.box input:focus{
    outline: none !important;
}

.button{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #b5720d;
    background-color: #265397;
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    background-color: #103875;
}
h4{
    color: #fff;
    margin-bottom: 10px;
}
a{
    color:#b5720d;
    text-decoration:none;
}
.right-side{
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
    background-color:#132144;
}

.text1{
    text-align:left;
    padding: 80px 80px;
    float:center;
    font-size:15pt;
    color: #DFB2B2;
    margin-right: 80px;;
    
}
.text2{
    text-align:left;
    font-size:8pt;
    margin-top: 40px;
    /* margin-bottom: 120px; */
    margin-left: 80px;
    margin-right: 80px;
    /* margin-bottom: 50px; */
    color:rgb(5, 5, 5);
} 
ul{
    font-size: 15pt;
    margin-left: 40px;
}
.image{
    width: 75%;
    height:75%;
    margin-left: 60px;
    
    
}


  @media screen and (max-width: 800px) {
    .left{
      width: 100%;
    }
    .right{
        width: 100%;
      }
    .image{
        height: 60%;
        width: 80%;
        margin-right: 50px;
    }
  }
  @media screen and (max-width: 420px) {
    .text1{
        padding: 30px 30px;
        margin-right: 30px;
    }
    .text2{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 340px) {
    .form h1{
        font-size:28pt;
        margin-top: 50px;
        
    }
    .input[type="email"]{
        width:80vw;
    }
    .email{
        margin-left: -45px;
    }
}
@media screen and (max-width: 290px) {
    
    .email{
        margin-left: -10px;
    }
}